.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.component-example {
  margin-bottom: 48px;
}

.example-row {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 8px;
  position: relative;
  z-index: 1;
}

.title {
  flex-grow: 1;
  min-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #828585;
  display: inline-block;
}

.example {
  border-radius: 3px;
  padding: 16px;
  border-width: 1px;
  border-style: solid;
  display: block;
  width: 100%;
  background-color: #FFFFFF;
  border-color: #E8EBEB;
}
